$paddingZero16px: 0 16px;

@import './variables';

header {
  box-sizing: border-box;
  grid-column: 1 / -1;
  @include flexRow();
  flex-wrap: nowrap;
  padding: .5rem 1rem;
  border-bottom: 1px solid lightgrey;
  font-family:'Lato';
  width: $width100Percent;
  .mobileNav {
    display: none;
  }
  h2 {
    font-weight: 900;
    padding-left: .5rem;
    font-size: 2.2rem;
  }
  span {
    font-weight: 100;
  }
  nav {
    @include flexRow();
    justify-content: space-between;
    width: 85%;
    ul {
      @include flexRow();
      flex-wrap: wrap;
      @include noBullets();
      li {
        padding-right: 12px;
        @include flexRow();
        &:hover {
          a {
            color: $covidBlue;
          }
          i {
            color: $covidBlue;
          }
        }
        a {
          text-decoration: none;
          color: $greyFont;
          font-size: 1.6rem;
        }
        .covid {
          color: $covidBlue;
        }
      }
    }
    div {
      @include flexRow();
      flex-wrap: wrap;
      justify-content: flex-end;
      .settingsList {
        position: relative;
        .cartTotal {
          background-color: $covidBlue;
          color: white;
          font-size: 1rem;
          padding: .1rem .5rem;
          border-radius: 100%;
          position: relative;
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 13.4rem;
        }
      }
      input {
        border-radius: 3px;
        border: 1px solid #b7b6b6;
        width: 25%;
        min-width: 70px;
        padding: 4px 0;
        text-indent: 5px;
        font-family: 'Lato';
        &::placeholder {
          color: #b7b6b6;
          text-indent: 5px;
        }
      }
      button {
        background: transparent;
        border: none;
        margin-left: -25px;
      }
      .fa-regular, .fa-solid {
        color: #b7b6b6b3;
        padding-right: .4rem;
        font-size: 1.3rem;
      }
    }
  }

  @include breakpoint(mobile) {
    width: contain;
    padding: 1.5rem 0;
    h2, .fullSizeImg {
      display: none;
    }
    .fullSizeNav {
      display: none;
    }
    .mobileNav {
      padding: 0 1.5rem;
      width: $width100Percent;
      @include flexRow();
      img {
        position: relative;
        left: 5rem;
      }
      i {
        font-size: 1.5rem;
        color: $greyFont;
        &:hover {
          cursor: pointer;
        }
      }
      i:nth-of-type(2) {
        transform: rotateY(180deg);
        position: relative;
        right: -5rem;
      }
      i:last-of-type {
        text-align: right;
      }
    }
  }
}