@mixin flexRow {
  display: flex;
  align-items: center;
}


main {
  grid-column: 1 / 3;
  padding: 2rem 0 6rem 2rem;
  margin-right: 2rem;
  color: $footerLinkColor;
  // background-color: tan;

  h2 {
    font-size: 3.3rem;
    color: black;
  }
  .cart, .saved {
    @include flexRow();
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
    // background-color: tan;
    div {
      min-height: 15vh; ///this
    }
    .left {
      @include flexRow();
      // background-color: yellow;
      width: 30rem;
      img {
        border-radius: 5px;
        width: 10rem;
      }
      .title {
        font-weight: bold;
        padding-top: 2rem;
        color: black;
        margin-bottom: -1rem;
      }
      .title, .genre {
        padding-left: 2rem;
      }
    }
    .middle {
      @include flexRow();
      align-self: baseline;
      min-width: 15rem;
      // background-color: orange;
      img {
        width: 2.5rem;
      }
      p {
        padding-left: .5rem;
      }
    }
    .right {
      // background-color: blue;
      align-self: baseline;
      .price {
        color: black;
        text-align: end;
        font-weight: bold;
      }
      .saveForLater {
        color: $footerLinkColor;
        text-decoration: none;
        &:hover{
          color: $covidBlue;
        }
      }
      .cartMobileSaveBtn {
        display: none;
      }
    }
  }

  .continue {
    color: $covidBlue;
    font-size: 1.6rem;
    text-decoration: none;
  }

  .saveForLater {
    margin-top: 5rem;
    h2 {
      font-size: 2.3rem;
    }
    .saved {
      padding-bottom: 0;
    }
    .left {
      //not needed yet
      img {
        width: 8rem;
      }
      .savedTitle{
        padding-top: 1rem;
        margin-bottom: -1rem;
      }
    }
    .savedRight {
      @include flexRow();
      // background-color: green;
    }
    .removeBtn, .addToCartBtn {
      color: $footerLinkColor;
      background-color: transparent;
      font-size: 1.4rem;
      &:hover {
        cursor: pointer;
        color: $covidBlue;
      }
    }
    .removeBtn {
      border: none;
      padding-right: 1.5rem;
    }
    .addToCartBtn {
      padding: .4rem 1.6rem;
      border-radius: 10rem;
      border: 1px solid $greyFont;
      &:hover {
        border: 1px solid $covidBlue;;
      }
    }
  }

  @include breakpoint(mobile) {
    h2 {
      margin: .5rem 0;
    }
    .cart, .saved {
      display: grid;
      grid-template-columns: (50%, 50%);
      font-size: 1.4;
      min-height: 0;
      width: 100%;
      padding-bottom: 1.5rem;
      // background-color: tan;
      .left {
        grid-column: 1 / 3;
        min-width: 0;
        img {
          width: 6rem;
        }
      }
      .middle {
        grid-column: 1 / 2;
        align-items: flex-start;
        min-height: fit-content;
        // background-color: rgb(132, 85, 23);
        p {
          margin: 0;
        }
      }
      .right {
        // background-color: orange;
        align-self: flex-start;
        grid-column: 2 / 3;
        min-height: 0;
        .price {
          margin-top: 0;
        }
        .saveForLater {
          display: none;
        }
        .cartMobileSaveBtn {
          display: block;
          align-self: flex-end;
          color: $footerLinkColor;
          font-size: 1.4rem;
          background: transparent;
          border-radius: 25px;
          padding: 1rem 3rem;
          border: 1px solid $footerLinkColor;
          font-weight: bold;
          letter-spacing: .05rem;
          &:hover {
            cursor: pointer;
            color: $covidBlue;
            border: 1px solid $covidBlue;

          }
        }
      }
    }
    .saveForLater {
      .savedRight {
        align-items: flex-start;
        margin-top: -.5rem;
        min-height:fit-content;
        padding-bottom: 3rem;
        .removeBtn {
          display: none;
        }
        .addToCartBtn {
          font-size: 1.4rem;
          padding: 1rem 3rem;
        }
      }
    }
  }
}