@mixin flexRow {
  display: flex;
  align-items: center;
}


main {
  grid-column: 1 / 3;
  padding: 2rem;
  margin-right: 2rem;
  color: $footerLinkColor;
  // background-color: tan;

  h2 {
    font-size: 3.3rem;
    color: black;
  }
  .cart {
    box-sizing: border-box;
    @include flexRow();
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
    // background-color: tan;
    div {
      min-height: 15vh; ///this
    }
    .left {
      @include flexRow();
      // background-color: yellow;
      width: 30rem;
      img {
        border-radius: 5px;
        width: 10rem;
      }
      .title {
        font-weight: bold;
        padding-top: 2rem;
        color: black;
        margin-bottom: -1rem;
      }
      .title, .genre {
        padding-left: 2rem;
      }
      .mobileX {
        display: none;
      }
    }
    .middle {
      @include flexRow();
      align-self: baseline;
      min-width: 15rem;
      // background-color: orange;
      i {
        font-size: 3.5rem;
        padding-right: .5rem;
        color: $greyFont;
      }
      img {
        width: 3rem;
      }
      p {
        padding-left: .5rem;
      }
    }
    .right {
      // background-color: blue;
      align-self: baseline;
      .price {
        color: black;
        text-align: end;
        font-weight: bold;
        margin: 0 0 5rem 0;
      }
      .saveForLater {
        color: $footerLinkColor;
        text-decoration: none;
        &:hover{
          color: $covidBlue;
        }
      }
      .cartMobileSaveBtn {
        display: none;
      }
    }
  }

  .continue {
    color: $covidBlue;
    font-size: 1.6rem;
    text-decoration: none;
  }
  .stickyTotal {
    display: none;
  }


  @include breakpoint(mobile) {
    h2 {
      margin: .5rem 0;
    }
    .cart {
      display: grid;
      grid-template-columns: (50%, 50%);
      font-size: 1.4;
      min-height: 0;
      width: 100%;
      padding: 0 0 1.5rem 1rem;
      // background-color: tan;
      .left {
        grid-column: 1 / 3;
        width: 100%;
        // background-color: tan;
        justify-content: space-between;
        img {
          width: 6rem;
        }
        .mobileX {
          display: block;
          font-size: 2.5rem;
          align-self: baseline;
          &:hover {
            cursor: pointer;
          }
        }
        .titleDiv {
          margin-left: -4rem;
          padding-top: 3rem;
          min-width: 25vh;
          align-self: baseline;
          // background-color: red;
          p {
            padding: 0;
          }
        }
      }
      .middle {
        grid-column: 1 / 2;
        min-height: fit-content;
        // background-color: rgb(132, 85, 23);
        p {
          margin: 0;
        }
      }
      .right {
        // background-color: orange;
        align-self: flex-start;
        grid-column: 2 / 3;
        min-height: 0;
        .price {
          margin-top: 0;
        }
        .saveForLater {
          display: none;
        }
        .cartMobileSaveBtn {
          display: block;
          align-self: flex-end;
          color: $footerLinkColor;
          font-size: 1.4rem;
          background: transparent;
          border-radius: 25px;
          padding: 1rem 3rem;
          border: 1px solid $footerLinkColor;
          font-weight: bold;
          letter-spacing: .05rem;
          &:hover {
            cursor: pointer;
            color: $covidBlue;
            border: 1px solid $covidBlue;

          }
        }
      }
    }
    .stickyTotal {
      display: block;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      box-shadow: 0 -1rem 10rem rgba(0, 0, 0, 0.491);
      width: 100%;
      position: fixed;
      bottom: .01rem;
      right: .05rem;
      p {
        font-weight: bold;
        font-size: 1.4rem;
        color: black;
        line-height: 2rem;
        padding-left: 1rem;
      }
      button {
        background-color: #43b1e6;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 50px;
        height:fit-content;
        padding: 1.5rem 3rem;
        padding-top: -1rem;
        letter-spacing: .2rem;
        margin-right: 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}