@import './variables';

@mixin flexRow {
  display: flex;
  align-items: center;
}


.saveContainer {
  grid-column: 1 / 3;
  padding: 0rem 0 6rem 2rem;
  margin-right: 2rem;
  color: $footerLinkColor;
  // background-color: tan;
  h2 {
    font-size: 2.3rem;
    color: black;
    margin-bottom: 1rem;
  }
  .saved {
    box-sizing: border-box;
    @include flexRow();
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem 2rem 2rem;
    font-size: 1.6rem;
    // padding-bottom: 2rem;
    border-bottom: 1px solid lightgrey;
    // background-color: tan;
    div {
      min-height: 15vh; ///this
    }
    .left {
      @include flexRow();
      // background-color: yellow;
      width: 30rem;
      img {
        border-radius: 5px;
        width: 10rem;
      }
      .title {
        font-weight: bold;
        padding-top: 2rem;
        color: black;
        margin-bottom: -1rem;
      }
      .title, .genre {
        padding-left: 2rem;
      }
      .mobileX {
        display: none;
      }
    }
    .middle {
      @include flexRow();
      align-self: baseline;
      min-width: 15rem;
      // background-color: orange;
      img {
        width: 3rem;
      }
      p {
        padding-left: .5rem;
      }
    }
    .savedRight {
      @include flexRow();
      // background-color: green;
      .removeBtn, .addToCartBtn {
        color: $footerLinkColor;
        background-color: transparent;
        font-size: 1.4rem;
        &:hover {
          cursor: pointer;
          color: $covidBlue;
        }
      }
      .removeBtn {
        border: none;
        padding-right: 1.5rem;
      }
      .addToCartBtn {
        padding: .4rem 1.6rem;
        border-radius: 10rem;
        border: 1px solid $greyFont;
        &:hover {
          border: 1px solid $covidBlue;;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    padding-bottom: 3rem;
    h2 {
      margin: 4rem 0 2rem 0;
    }
    .saved {
      display: grid;
      grid-template-columns: (50%, 50%);
      font-size: 1.4;
      min-height: 0;
      width: 100%;
      padding: 0 0 1.5rem 1rem;
      // background-color: tan;
      &:last-of-type {
        border-bottom: none;

      }
      .left {
        grid-column: 1 / 3;
        min-width: 0;
        width: 100%;
        // background-color: bisque;
        img {
          width: 6rem;
        }
        .titleDiv{
          // background-color: purple;
          width: 100%;
          align-self: baseline;
          p:first-of-type {
            padding-top: 1rem;
          }
        }
        .mobileX {
          display: block;
          // width: 100%;
          font-size: 2.5rem;
          align-self: baseline;
          // text-align: right;
          // background-color: plum;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .middle {
        grid-column: 1 / 2;
        align-items: flex-start;
        min-height: fit-content;
        // background-color: rgb(132, 85, 23);
        p {
          margin: 0;
        }
      }
      .savedRight {
        align-items: flex-start;
        margin-top: -.5rem;
        min-height:fit-content;
        padding-bottom: 3rem;
        .removeBtn {
          display: none;
        }
        .addToCartBtn {
          font-size: 1.4rem;
          padding: 1rem 3rem;
        }
      }
    }
  }
}