@import './header';
@import './footer';
@import './main';
@import './orderSummary';
@import './saveContainer';
@import './variables';


body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  width: $width100Percent;
  font-size: 62.5%;
}

.container {
  background-color: $background;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: auto;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    width: 390px;
    main {
      order: 2;
    }
    header {
      order: 1;
    }
    .orderSummary {
      order: 3;
    }
    footer {
      order: 5;
    }
    .saveContainer {
      order: 4;
    }
  }
}