header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgrey;
  font-family: "Lato";
  width: 100%;
}
header h2 {
  font-weight: 900;
  padding-left: 0.5rem;
  font-size: 2.2rem;
}
header span {
  font-weight: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li {
  padding-right: 12px;
  display: flex;
  align-items: center;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #b7b6b6;
  font-size: 1.6rem;
}
header nav ul li a:hover {
  color: #43b1e6;
}
header nav ul li .covid {
  color: #43b1e6;
}
header nav div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header nav div input {
  border-radius: 3px;
  border: 1px solid #b7b6b6;
  width: 25%;
  min-width: 70px;
  padding: 4px 0;
  text-indent: 5px;
  font-family: "Lato";
}
header nav div input::-moz-placeholder {
  color: #b7b6b6;
  text-indent: 5px;
}
header nav div input:-ms-input-placeholder {
  color: #b7b6b6;
  text-indent: 5px;
}
header nav div input::placeholder {
  color: #b7b6b6;
  text-indent: 5px;
}
header nav div button {
  background: transparent;
  border: none;
  margin-left: -25px;
}
header nav div .fa-regular, header nav div .fa-solid {
  color: rgba(183, 182, 182, 0.7019607843);
  padding-right: 0.4rem;
  font-size: 1.3rem;
}

footer {
  grid-column: 1/-1;
  width: 100%;
}
footer .lightBlack {
  background-color: #282828;
  display: grid;
  grid-template-columns: repeat(6, auto);
  color: #b7b6b6;
  font-size: 1.6rem;
  padding: 0 8rem;
}
footer .lightBlack h3 {
  color: #FAFAFA;
  font-weight: normal;
  font-size: 2rem;
}
footer .lightBlack .products, footer .lightBlack .resources, footer .lightBlack .store, footer .lightBlack .account {
  list-style: none;
}
footer .lightBlack li {
  padding-bottom: 1rem;
}
footer .lightBlack a {
  color: #919191;
  text-decoration: none;
}
footer .lightBlack .subscribe {
  grid-column: 5/7;
  background-color: yellow;
}
footer .lightBlack .subscribe h3 {
  margin-bottom: 1rem;
}
footer .lightBlack form {
  display: flex;
  background-color: red;
}
footer .lightBlack form input {
  background-color: #171717;
  font-family: lato;
  border: 0.1rem solid #919191;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 1rem 10rem 1rem 1rem;
}
footer .lightBlack form button {
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #43b1e6;
  color: white;
  font-weight: bold;
  padding: 0 2rem;
}
footer .lightBlack .socialIcons {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background-color: green;
  width: 100%;
  height: 10vh;
}
footer .lightBlack .socialIcons img {
  width: 3rem;
  padding-right: 1rem;
}
footer .lightBlack .socialIcons .followBtn {
  margin-left: auto;
}
footer .darkBlack {
  background-color: #171717;
}

main {
  grid-column: 1/3;
  padding: 2rem 0 6rem 2rem;
  margin-right: 2rem;
}
main h2 {
  font-size: 3.3rem;
}
main .cart, main .saved {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgrey;
}
main .cart div, main .saved div {
  min-height: 15vh;
}
main .cart .left, main .saved .left {
  display: flex;
  align-items: center;
  width: 30rem;
}
main .cart .left img, main .saved .left img {
  border-radius: 5px;
  width: 10rem;
}
main .cart .left .title, main .saved .left .title {
  font-weight: bold;
  padding-top: 2rem;
}
main .cart .left .genre, main .saved .left .genre {
  color: #b7b6b6;
}
main .cart .left .title, main .cart .left .genre, main .saved .left .title, main .saved .left .genre {
  padding-left: 2rem;
}
main .cart .middle, main .saved .middle {
  color: #b7b6b6;
  display: flex;
  align-items: center;
  align-self: baseline;
  min-width: 15rem;
}
main .cart .middle img, main .saved .middle img {
  width: 2.5rem;
}
main .cart .middle p, main .saved .middle p {
  padding-left: 0.5rem;
}
main .cart .right, main .saved .right {
  align-self: baseline;
}
main .cart .right .price, main .saved .right .price {
  text-align: end;
  font-weight: bold;
}
main .cart .right .saveForLater, main .saved .right .saveForLater {
  color: #b7b6b6;
  text-decoration: none;
}
main .cart .right .saveForLater:hover, main .saved .right .saveForLater:hover {
  color: #43b1e6;
}
main .continue {
  color: #43b1e6;
  font-size: 1.6rem;
  text-decoration: none;
}
main .saveForLater {
  margin-top: 5rem;
}
main .saveForLater h2 {
  font-size: 2.3rem;
}
main .saveForLater .saved {
  padding-bottom: 0;
}
main .saveForLater .left img {
  width: 8rem;
}
main .saveForLater .left .savedTitle {
  padding-top: 1rem;
}
main .saveForLater .savedRight {
  display: flex;
  align-items: center;
}
main .saveForLater .removeBtn, main .saveForLater .addToCartBtn {
  color: #b7b6b6;
  background-color: transparent;
  font-size: 1.4rem;
}
main .saveForLater .removeBtn:hover, main .saveForLater .addToCartBtn:hover {
  cursor: pointer;
  color: #43b1e6;
}
main .saveForLater .removeBtn {
  border: none;
  padding-right: 1.5rem;
}
main .saveForLater .addToCartBtn {
  padding: 0.4rem 1.6rem;
  border-radius: 10rem;
  border: 1px solid #b7b6b6;
}
main .saveForLater .addToCartBtn:hover {
  border: 1px solid #43b1e6;
}

.orderSummary {
  grid-column: 3/-1;
  background-color: #FAFAFA;
  font-size: 1.6rem;
  padding: 3rem 0;
}
.orderSummary p {
  margin: 1rem 0;
}
.orderSummary h2 {
  font-size: 3.3rem;
  margin: 2rem 0 7rem 6rem;
}
.orderSummary .credits {
  display: grid;
  grid-template-columns: auto, auto;
  margin: 0 6rem 2.5rem 6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgrey;
}
.orderSummary .credits .boldText {
  font-weight: bold;
  grid-column: 1/2;
}
.orderSummary .credits .promo {
  padding-top: 1.5rem;
}
.orderSummary .credits .right {
  text-align: end;
  grid-column: 2/3;
  color: #919191;
}
.orderSummary .credits .black {
  color: black;
}
.orderSummary .credits .cardNum {
  color: #919191;
  font-weight: 400;
}
.orderSummary .credits a {
  color: #43b1e6;
}
.orderSummary .placeOrder {
  margin: 2rem 6rem;
  color: #b7b6b6;
  display: flex;
  flex-direction: column;
}
.orderSummary .placeOrder p:first-of-type {
  align-self: flex-start;
}
.orderSummary .placeOrder p:last-of-type {
  text-align: center;
  font-size: 1.4rem;
  padding: 0 4rem;
}
.orderSummary .placeOrder button {
  align-self: center;
  margin: 1rem 0;
  width: 100%;
  padding: 1.5rem;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: #43b1e6;
  letter-spacing: 0.07rem;
  font-weight: bold;
}
.orderSummary .placeOrder button:hover {
  cursor: pointer;
}
.orderSummary .placeOrder a {
  color: #b7b6b6;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
  width: 100%;
  font-size: 62.5%;
}

.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 98%;
  min-width: 375px;
}/*# sourceMappingURL=style.css.map */